CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/*
!build/.keep
project/proj.cmake/build/Akinator

project/proj.cmake/build/Akinator.cbp

project/proj.cmake/build/oxygine-framework/liboxygine-framework.a

project/proj.cmake/build/oxygine-framework/OXYGINE.cbp
